.customButton {
  outline: none;
  text-transform: uppercase;
  font-family: "Cal Sans", sans-serif !important;

  outline: none;
  border: none;
  font-size: 15px;
  border-radius: 50px;
  padding: 14px 35px;
  font-weight: 400;
  line-height: 28px;

  @include respond-below(md) {
    font-size: 16px;
    padding: 10px 24px;
  }

  &.wFull {
    width: 100%;
  }

  &:disabled {
    opacity: 0.7;
  }
  &.v1 {
    background-color: $color_primary;
    color: white;

    &:hover {
      background-color: $color_black;
      // color: $color_primary;
      // border-color: $color_primary;
    }
  }
  &.v2 {
    background-color: $color_black;
    color: white;

    &:hover {
      background-color: white;
      color: $color_black;
    }
  }
  &.v3 {
    background-color: $color_black;
    color: white;

    &:hover {
      background-color: $color_primary;
      // color: $;
    }
  }
}
