.CustomTextArea {
  border: 1px solid #afafaf80;
  background-color: white;
  color: $color_primary;
  border-radius: 24px;
  height: auto;
  margin-bottom: 0;
  padding: 16px 18px;
  font-size: 16px;
  color: $color_black;

  outline: none;

  &:active,
  &:focus-visible {
    border-color: $color_primary;
    padding: 16px 18px 16px 22px;
  }
}
