.ContactFormSection {
  background-color: white;
  padding: 100px 0;
  border-bottom: 1px solid $color_primary;

  .cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;

    .left {
      .head {
        h4 {
          color: $color_primary;
          font-size: 18px;
          font-weight: 400;
        }

        h2 {
          color: $color_black;
          font-size: 48px;
          font-weight: 500;
          line-height: 1.2em;
        }

        p {
          color: $color_text_grey;
          font-size: 18px;
        }
      }

      hr {
        height: 1px;
        width: 100%;
        background-color: #afafaf80;
        opacity: 1;
        border: none;
        margin: 30px 0;
      }

      .contact {
        * {
          color: $color_black;
        }

        a {
          text-decoration: underline;
        }
        h3 {
          margin-bottom: 20px;
        }
        p {
          font-size: 20px;
          margin-bottom: 20px;
          font-weight: 500;
          svg {
            font-size: 18px;
            margin-right: 5px;
            margin-top: -2px;
            path {
              color: $color_primary;
            }
          }
        }
      }
    }

    .right {
      form {
        h2 {
          color: $color_black;
          font-size: 38px;
          font-weight: 500;
        }

        background-color: #f2f4f8;
        padding: 30px 40px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        border-radius: 20px;
      }
    }
  }

  @include respond-below(md) {
    .cont {
      grid-template-columns: 1fr;
    }
  }
}
