.Footer {
  background-color: $color_black;
  padding: 80px 0 60px 0;
  background-image: url("/images/footer-bg.webp");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: auto;

  .footerSection {
    * {
      color: white;
    }

    &.link {
      a {
        display: block;
        margin-bottom: 12px;
        font-size: 18px;
        font-weight: 500;

        &:hover {
          color: $color_primary;
        }
      }
    }

    &.contact {
      > div {
        font-size: 16px;
        margin-bottom: 12px;

        svg {
          font-size: 20px;
          margin-right: 8px;

          path {
            color: $color_primary;
          }
        }
      }
    }
  }

  .bot {
    margin-top: 50px;

    p {
      color: red;
      text-align: center;
      font-size: 17px;
      color: #535353;
    }
  }

  @include respond-below(md) {
    .footerSection {
      @include flexCenter;
      flex-direction: column;
      margin-bottom: 16px;

      &.brand {
        display: flex;
        gap: 20px;
        margin-bottom: 50px;
      }
    }
  }
}
