.ServicesSection {
  background-color: $color_grey1;
  padding: 100px 0;

  .head {
    display: flex;
    justify-content: space-between;

    h4 {
      font-size: 64px;
      max-width: 800px;
    }
  }

  .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
  }

  .cta {
    margin-top: 50px;
    @include flexCenter;
  }

  @include respond-below(md) {
    .head {
      flex-direction: column;
    }
    .wrap {
      grid-template-columns: 1fr;
    }
  }
}

.ServiceCard {
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  position: relative;

  &:before {
    border-radius: inherit;
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  > div {
    position: relative;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    > div {
      h3 {
        font-size: 30px;
        margin-bottom: 16px;
      }
      p {
        color: $color_grey1;
        opacity: 0.7;
      }
    }
  }
}
